In [4]:
import pandas as pd
df = pd.read_csv('C:/Users/Luyao Chen/OneDrive/Big Data Programming/Final/environment.csv')
df.head(5)

F:\Development\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,11,14,15,20,22,23,25,39,40,44,45,59,63,64,67,68,69,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:94728,NY CITY CENTRAL PARK NY US,39.6,40.7889,-73.9669,2009-01-01 00:51,FM-15,FEW:02 44,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:94728,NY CITY CENTRAL PARK NY US,39.6,40.7889,-73.9669,2009-01-01 01:51,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:94728,NY CITY CENTRAL PARK NY US,39.6,40.7889,-73.9669,2009-01-01 02:51,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:94728,NY CITY CENTRAL PARK NY US,39.6,40.7889,-73.9669,2009-01-01 03:51,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:94728,NY CITY CENTRAL PARK NY US,39.6,40.7889,-73.9669,2009-01-01 04:51,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

STATION                               object
STATION_NAME                          object
ELEVATION                            float64
LATITUDE                             float64
LONGITUDE                            float64
DATE                                  object
REPORTTPYE                            object
HOURLYSKYCONDITIONS                   object
HOURLYVISIBILITY                      object
HOURLYPRSENTWEATHERTYPE               object
HOURLYDRYBULBTEMPF                    object
HOURLYDRYBULBTEMPC                    object
HOURLYWETBULBTEMPF                   float64
HOURLYWETBULBTEMPC                   float64
HOURLYDewPointTempF                   object
HOURLYDewPointTempC                   object
HOURLYRelativeHumidity               float64
HOURLYWindSpeed                      float64
HOURLYWindDirection                   object
HOURLYWindGustSpeed                  float64
HOURLYStationPressure                 object
HOURLYPressureTendency               float64
HOURLYPressureChange                  object
HOURLYSeaLevelPressure                object
HOURLYPrecip                          object
HOURLYAltimeterSetting                object
DAILYMaximumDryBulbTemp              float64
DAILYMinimumDryBulbTemp              float64
DAILYAverageDryBulbTemp              float64
DAILYDeptFromNormalAverageTemp       float64
                                      ...
MonthlyDeptFromNormalMaximumTemp     float64
MonthlyDeptFromNormalMinimumTemp     float64
MonthlyDeptFromNormalAverageTemp     float64
MonthlyDeptFromNormalPrecip           object
MonthlyTotalLiquidPrecip              object
MonthlyGreatestPrecip                float64
MonthlyGreatestPrecipDate            float64
MonthlyGreatestSnowfall               object
MonthlyGreatestSnowfallDate           object
MonthlyGreatestSnowDepth              object
MonthlyGreatestSnowDepthDate         float64
MonthlyDaysWithGT90Temp              float64
MonthlyDaysWithLT32Temp              float64
MonthlyDaysWithGT32Temp              float64
MonthlyDaysWithLT0Temp               float64
MonthlyDaysWithGT001Precip           float64
MonthlyDaysWithGT010Precip           float64
MonthlyDaysWithGT1Snow               float64
MonthlyMaxSeaLevelPressureValue      float64
MonthlyMaxSeaLevelPressureDate         int64
MonthlyMaxSeaLevelPressureTime         int64
MonthlyMinSeaLevelPressureValue      float64
MonthlyMinSeaLevelPressureDate         int64
MonthlyMinSeaLevelPressureTime         int64
MonthlyTotalHeatingDegreeDays         object
MonthlyTotalCoolingDegreeDays         object
MonthlyDeptFromNormalHeatingDD        object
MonthlyDeptFromNormalCoolingDD        object
MonthlyTotalSeasonToDateHeatingDD    float64
MonthlyTotalSeasonToDateCoolingDD    float64
dtype: object

In [76]:
def WeatherTypeParser(code):
    code = str(code)
    if code == 'nan':
        w = 'normal'
    elif 'RA'in code or 'DZ'in code or 'UP' in code :
        w = 'rain'
    elif 'SN'in code or 'SG'in code or 'IC'in code or 'PL' in code or 'GR' in code or 'GS' in code:
        w = 'snow'
    elif 'BR'in code or 'FG'in code or 'FU'in code or 'SA' in code :
        w = 'fog'
    else:
        w = 'normal'
    return w

df1 = df.loc[:,['DATE','HOURLYPRSENTWEATHERTYPE','HOURLYDRYBULBTEMPC','HOURLYWindSpeed']]
df1['HOURLYPRSENTWEATHERTYPE']= df1['HOURLYPRSENTWEATHERTYPE'].map(lambda x:WeatherTypeParser(x))

df2 = df1.rename(columns={"HOURLYPRSENTWEATHERTYPE": "WEATHER", "HOURLYDRYBULBTEMPC": "TEMPC","HOURLYWindSpeed":"WIND"})
df2.head(5)

               DATE WEATHER TEMPC  WIND
0  2009-01-01 00:51  normal  -7.8  18.0
1  2009-01-01 01:51  normal  -7.8  18.0
2  2009-01-01 02:51  normal  -7.8  18.0
3  2009-01-01 03:51  normal  -8.3   8.0
4  2009-01-01 04:51  normal  -8.3  11.0

In [77]:
df2.head(5)
def WeatherDateParser(date):
     return date[0:-3]

df2['DATE']=df2['DATE'].map(lambda x:WeatherDateParser(x))
df2.head(5)

            DATE WEATHER TEMPC  WIND
0  2009-01-01 00  normal  -7.8  18.0
1  2009-01-01 01  normal  -7.8  18.0
2  2009-01-01 02  normal  -7.8  18.0
3  2009-01-01 03  normal  -8.3   8.0
4  2009-01-01 04  normal  -8.3  11.0

In [78]:
df2.shape
df2.head(5)

            DATE WEATHER TEMPC  WIND
0  2009-01-01 00  normal  -7.8  18.0
1  2009-01-01 01  normal  -7.8  18.0
2  2009-01-01 02  normal  -7.8  18.0
3  2009-01-01 03  normal  -8.3   8.0
4  2009-01-01 04  normal  -8.3  11.0

In [82]:
repeat = []
for i in range(0,df2.shape[0]-1):
    if df2.loc[i]['DATE'] == df2.loc[i+1]['DATE']:
        repeat.append(i)

In [83]:
df2.drop(df.index[repeat], inplace=True)
df2.shape

(72462, 4)

In [85]:
df2.to_csv('C:/Users/Luyao Chen/OneDrive/Big Data Programming/Final/env.csv')